{% assign url_parts = page.url | split: '/' %}
{% if site.languages contains url_parts[1] %}
  {% assign url_lang = url_parts[1] %}
  {% assign page_base = url_parts | slice: 2 | join: '/' %}
{% else %}
  {% assign url_lang = 'en' %}
  {% assign page_base = page.url %}
{% endif %}
<hr style="margin: 0px; padding: 0px;"/>
<footer>
  <div class="site-width">
    <div class="footer-contents">
      <div style="font-size-adjust: 50%;">
        
        <!-- <div class="logo">
          <a href="/">
            <span class="app">App</span> <span class="Fair">Fair</span>
          </a>
        </div> -->
        
        <!-- <p>{{ site.tagline | escape }}</p> -->
        
        <p>
        <span lang="en">The App Fair Project is a 501(c)3 non-profit public charity<br />incorporated in the United States Commonwealth of Massachusetts.</span>
        <span lang="fr">Le projet App Fair est une organisation caritative publique à but non lucratif<br/>enregistrée aux États-Unis dans le Commonwealth du Massachusetts.</span>
        <span lang="es">El proyecto App Fair es una organización benéfica pública sin fines de lucro<br/>incorporada en los Estados Unidos de América en la Mancomunidad de Massachusetts.</span>
        <span lang="pt">O Projeto App Fair é uma organização de caridade pública sem fins lucrativos<br/>incorporada nos Estados Unidos da América na Comunidade da Massachusetts.</span>
        <span lang="it">Il progetto App Fair è un'organizzazione di beneficenza pubblica no-profit<br/>costituita negli Stati Uniti d'America nel Commonwealth del Massachusetts.</span>
        <span lang="de">Das App Fair-Projekt ist eine gemeinnützige öffentliche Wohltätigkeitsorganisation<br/>in den Vereinigten Staaten von Amerika im Commonwealth von Massachusetts eingetragen.</span>
        <span lang="ru">Проект App Fair - это некоммерческая благотворительная организация,<br/>зарегистрированная в Содружестве Массачусетс, США.</span>
        <span lang="ja">App Fairプロジェクトは、米国マサチューセッツ州震源に設立された非営利団体の公共徴益法人です。</span>
        <span lang="ko">앱 페어 프로젝트는 미국 마사추세츠 공화국에 설립된 비영리 공익 기관입니다.</span>
        <span lang="zh-cn">App Fair项目是一家在美国马萨诸塞州成立的非盈利公共慈善机构。</span>
        <span lang="zh-tw">App Fair項目是一家在美國馬薩諸塞州成立的非營利公共慈善機構。</span>
        <span lang="ar">مشروع App Fair هو منظمة خيرية عامة غير ربحية<br/>المؤسسة في ولاية ماساتشوستس الأمريكية.</span>
        </p>
        
        <p><a href="/{{ url_lang }}/privacy">
          <span lang="en">Privacy Policy</span>
          <span lang="fr">Politique de confidentialité</span>
          <span lang="es">Política de privacidad</span>
          <span lang="pt">Política de privacidade</span>
          <span lang="it">Informativa sulla privacy</span>
          <span lang="de">Datenschutzrichtlinie</span>
          <span lang="ru">Политика конфиденциальности</span>
          <span lang="ja">プライバシーポリシー</span>
          <span lang="ko">개인정보 처리방침</span>
          <span lang="zh-cn">隐私政策</span>
          <span lang="zh-tw">隱私政策</span>
          <span lang="ar">سياسة الخصوصية</span>
        </a></p>
        
        <p><a href="/marketplace">
          <span lang="en">Marketplace Policies</span>
          <span lang="fr">Politiques du marché</span>
          <span lang="es">Políticas de mercado</span>
          <span lang="pt">Políticas de mercado</span>
          <span lang="it">Politiche del mercato</span>
          <span lang="de">Marktplatzrichtlinien</span>
          <span lang="ru">Правила рынка</span>
          <span lang="ja">マーケットプレイスのポリシー</span>
          <span lang="ko">마켓플레이스 정책</span>
          <span lang="zh-cn">市场政策</span>
          <span lang="zh-tw">市場政策</span>
          <span lang="ar">سياسات السوق</span>
        </a></p>
                
        <p><a href="https://www.guidestar.org/profile/88-1461874">
          <span lang="en">GuideStar Profile</span>
        </a></p>

        <p>
        <span lang="en">"App Fair" is a registered trademark in the United States and other countries.</span>
        <span lang="fr">« App Fair » est une marque déposée aux États-Unis et dans d'autres pays.</span>
        <span lang="es">"App Fair" es una marca registrada en los Estados Unidos y otros países.</span>
        <span lang="pt">"App Fair" é uma marca registrada nos Estados Unidos e em outros países.</span>
        <span lang="it">"App Fair" è un marchio registrato negli Stati Uniti e in altri paesi.</span>
        <span lang="de">"App Fair" ist eine eingetragene Marke in den Vereinigten Staaten und anderen Ländern.</span>
        <span lang="ru">«App Fair» - зарегистрированный товарный знак в Соединенных Штатах и других странах.</span>
        <span lang="ja">"App Fair" は、米国およびその他の国における登録商標です。</span>
        <span lang="ko">"App Fair"는 미국 및 기타 국가에서 등록된 상표입니다.</span>
        <span lang="zh-cn">"App Fair" 是美国和其他国家的注册商标。</span>
        <span lang="zh-tw">"App Fair" 是美國和其他國家的註冊商標。</span>
        <span lang="ar">"App Fair" هو علامة تجارية مسجلة في الولايات المتحدة وبعض البلدان الأخرى.</span>
        </p>
        
      </div>
      <nav>
        <!--
        <section>
          <h5>Organization</h5>
          {%- for path in site.company_pages -%}
            {%- assign navpage = site.pages | where: "path", path | first -%}
            {%- if navpage.title -%}
            <a href="{{ navpage.url | relative_url }}">{{ navpage.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
        </section>
        -->

        <section>
          <h5>Connect</h5>
          {%- for path in site.connect_pages -%}
            {%- assign navpage = site.pages | where: "path", path | first -%}
            {%- if navpage.title -%}
            <a href="{{ navpage.url | relative_url }}">{{ navpage.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
          
          <!-- <a rel="me" href="https://fosstodon.org/@appfair">Mastodon: @appfair@fosstodon.org</a> -->
          <a href="mailto:info@appfair.org?subject={{ "" | append: page.title | uri_escape }}">Email: info@appfair.org</a>
          <a href="https://signal.me/#eu/psP7UW7frgEaKzPVql5dLImcalsA9afCGySjXkr1BexCuEF0OvdE9KAqzcTVIP5l">Signal: @appfair.01</a>
          <a href="/feed.xml">RSS: appfair.org/feed.xml</a>
          <a href="https://github.com/appfair">Source: github.com/appfair</a>
          <a href="https://github.com/orgs/appfair/discussions">Discussion Forums</a>
          
          <!-- <a onclick="theme_switch()" style="cursor: grab; user-select: none;"><span id="theme_readout">Site</span> Theme</a> -->
        </section>
<!-- 
        <section>
          <h5>Marketplace Policies</h5>
          <a href="/marketplace/datacollection">Data Collection</a>
          <a href="/marketplace/distribution">Distribution</a>
          <a href="/marketplace/ip">Intellectual Property</a>
          <a href="/marketplace/security">Security</a>
        </section>
       -->
      </nav>
    </div>
  </div>
</footer>

<script src="{{ "/assets/js/main.js" | relative_url }}"></script>
{%- comment -%}
<!-- <script src="{{ "/assets/js/aos.js" | relative_url }}"></script> -->
<!-- <script src="{{ "/assets/js/sweetalert.min.js" | relative_url }}"></script> -->
{%- endcomment -%}
