<header>
  <!-- <div id="local-banner" style="display: none; text-align: center; vertical-align: center; height: 4px; font-weight: bold; font-face: system-ui,helvetica; width: 100%; padding: 0px; margin: 0px; top: 0px; right: 0px; background-color: red; color: white;"></div> -->
  <div class="site-width">
    <div class="mobile-nav-toggle"><a href="javascript: toggleNavigation()"><img src="/assets/icons/menu.svg" alt="Menu" class="icon" /></a></div>

    <div class="logo">
      <a href="/">
      <img width="45" height="45" alt="appfair.org logo" src="/appfair-icon.svg" />
      </a>
    </div>

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- if page_paths -%}
    <nav>
      <a class="mobile-nav-toggle" href="javascript: toggleNavigation()"><img src="/assets/icons/close.svg" alt="Close" class="icon" /></a>
      <span>
          {%- for path in page_paths -%}
            {%- assign navpage = site.pages | where: "path", path | first -%}
            {%- if navpage.title -%}

            <a class="page-link {% if navpage.path == page.path %}selected{% endif %}" href="{{ navpage.url | relative_url }}">{{ navpage.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
          
          {%- comment -%}
          {%- endcomment -%}
      </span>

    </nav>
    {%- endif -%}
  </div>
  <script>
  if (window.location.hostname === "localhost" || window.location.hostname === "127.0.0.1") {
    document.getElementById("local-banner").style.display = "block";
  }
</script>
</header>
