<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Net Skip Smart App Banner: https://apps.apple.com/us/app/net-skip/id1640618584 -->
  <meta name="apple-itunes-app" content="app-id=1640618584, app-title=The App Fair Web Browser, app-argument={{ site.url }}{{ page.url }}" />
  {%- seo -%}
  <link rel="icon" type="image/png" href="/favicon.png" />
  {% assign cacheBust = site.time | date:'?v=%s' %}
  <link rel="stylesheet" href="{{ "/assets/css/appfair.css" | relative_url | append: cacheBust }}" />
  <link rel="stylesheet" href="{{ "/assets/css/aos.css" | relative_url }}" />
  {%- feed_meta -%}
  {% if page.stylesheet %}
  <link rel="stylesheet" href="{{ page.stylesheet }}" />
  {% endif %}
  {% for sheet in page.stylesheets %}
  <link rel="stylesheet" href="{{ sheet }}" />
  {% endfor %}
</head>
