{% unless page.url contains '/emailsignup/' %}
<div style="width: 50%;" class="site-width centered" id="mailing-list-signup-container">
  <h2>Join our Mailing List</h2>
  <p><small>Sign up to be notified about news, releases, and updates for the App Fair Project.</small></p>
  <form action="https://api.appfair.net/mailform/" method="post" class="email-signup-form">
    <!-- <div class="name-input-container">
      <input type="text" name="NAME" placeholder="Your name" required>
    </div> -->
    <input type="hidden" name="redirect" value="https://appfair.org/emailsignup/" />
    <div class="email-input-container">
      <input type="email" name="email" placeholder="Your email" required="" />
      <div>
        <input class="button" type="submit" value="Sign Up" name="action" id="mailing-list-signup-button" />
        <div class="spinner"></div>
      </div>
    </div>
  </form>
  <br />
</div>
<script>
if (localStorage.getItem('mailingListSignedUp') === 'true') {
  // if we have already signed up for the mailing list, hide the form
  //document.querySelector('#mailing-list-signup').style.display = 'none';
  // fade the signup button if we have already signed up
  document.querySelector('#mailing-list-signup-button').style.opacity = '75%';
}
</script>
{% endunless %}