
/* See theme editor at https://starlight.astro.build/guides/css-and-tailwind/#color-theme-editor */

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #082541;
	--sl-color-accent: #006bbe;
	--sl-color-accent-high: #abccf2;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eaeef0;
	--sl-color-gray-2: #bec3c5;
	--sl-color-gray-3: #848d91;
	--sl-color-gray-4: #515a5d;
	--sl-color-gray-5: #323a3c;
	--sl-color-gray-6: #20282b;
	--sl-color-black: #15191a;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c0daf6;
	--sl-color-accent: #006dc2;
	--sl-color-accent-high: #003360;
	--sl-color-white: #15191a;
	--sl-color-gray-1: #20282b;
	--sl-color-gray-2: #323a3c;
	--sl-color-gray-3: #515a5d;
	--sl-color-gray-4: #848d91;
	--sl-color-gray-5: #bec3c5;
	--sl-color-gray-6: #eaeef0;
	--sl-color-gray-7: #f5f7f7;
	--sl-color-black: #ffffff;
}


/* Override hero for when there is no image */
.hero {
  grid-template-columns: 1fr;
}

.hero div {
  margin-left: auto;
  margin-right: auto;
}

.hero h1 {
  text-align: center;
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.hero .tagline {
  text-align: center;
  max-width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.hero .actions {
  justify-content: center;
  text-align: center;
  max-width: 100%;
}

div.showcase-screenshot-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div.showcase-screenshot-container img {
  flex: 1;
    object-fit: cover;
    max-width: 24%;
    height: auto;

    /* width: 100px; */
}



div.localization-screenshot-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div.localization-screenshot-container img {
  flex: 1;
    object-fit: cover;
    max-width: 20%;
    height: auto;

    /* width: 100px; */
}

.diagram-vector img {
	width: 90%;
	padding: 15px;
	background: white;
	align-content: center;  
	margin: auto;
	text-align: center;
	border-radius: 10px;
	margin: 0 auto;
}


