:root { 
  color-scheme: light; 
  /* color-scheme: light dark;  */
  /* color-scheme: light dark;  */
  /* accent-color: green; */
}
/* :root { color-scheme: light; } */

@media (prefers-color-scheme: dark-disabled) { 
  :root { 
    color: white;
    background-color: #1e1e1e; 
  }
}

body { 
  /* background: #f8f8f8; */
  /* color: #555555; */
  /* background-color: #00000033;  */
  /* background-color: #FFFFFF;  */

  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
  margin: 0; 
}

main { 
  line-height: 160%; 
  margin-top: 60px; 
}

/* Prevent footnote superscripts from pushing lines apart */
sup { vertical-align: top; position: relative; top: -0.5em; }

a { 
  color: #0068da; 
  text-decoration: none; 
}

@media (prefers-color-scheme: dark-disabled) { a { color: #419cff; } }

/* h1, h2, h3, h4, h5, h6 { margin-top: 0; } */

/* h1 { line-height: 1; font-size: 2.4rem; font-weight: 500; letter-spacing: -0.015em; } */

h1 { 
  text-align: center; 
  /* font-family: Helvetica Neue, Helvetica, Arial, system-ui;  */
  font-family: ui-rounded, Arial Rounded MT Bold, Arial Rounded Bold, Helvetica Rounded, Arial, sans-serif;
  line-height: 1; 
  font-size: 2rem; 
}

@media (max-width: 750px) { h1.hero { font-size: 1.5rem; } }

h2 { XXXfont-size: 1.8rem; font-weight: 500; XXXmargin-bottom: 0.5rem; }

/* h2 padding because they are often link targets and it jumps to a space hidden by the top bar */
.doc-main h2 { padding-top: 70px; }


h3 { font-weight: 500; }

img.icon { height: 35px; filter: invert(0.33) sepia(1) saturate(11) hue-rotate(185deg); }

div .feature img.hoveron { opacity: 0%; }
div .feature:hover img.hoveron { opacity: 100%; }

div .feature img.hoveroff { opacity: 100%; }
div .feature:hover img.hoveroff { opacity: 0%; }

@media (prefers-color-scheme: dark-disabled) { img.icon { filter: invert(0.42) sepia(2) saturate(5) hue-rotate(180deg); } }

img.large-icon { width: 64px; height: 64px; }

input { font-size: 1rem; }

@media (prefers-color-scheme: dark-disabled) { input { color: white; } }

input:focus { outline: none; }

.page-content { max-width: 800px; padding: 20px; margin: 0 auto; font-size: 1.1rem; }

@media (max-width: 750px) { .page-content { padding: 25px; } }

.page-content.main-page { text-align: center; }

.page-content.main-page hr { width: 175px; height: 3px; border: none; background-color: black; margin-top: 2rem; }

/* hr { margin: 0px; } */

@media (prefers-color-scheme: dark-disabled) { .page-content.main-page hr { background-color: white; } }

.narrow-width { max-width: 600px; margin-left: auto; margin-right: auto; }

.site-width { max-width: 5200px; padding: 0 75px; margin: 0 auto; }

@media (max-width: 750px) { .site-width { padding: 0 25px; } }

.centered { text-align: center; }

.flex-container { display: flex; align-items: center; justify-content: center; }

@media (max-width: 750px) { .flex-container { flex-direction: column; } }

section.row { padding-top: 10px; padding-bottom: 30px; }

section.hero-row picture, section.hero-row img { width: 100%; max-width: 1000px; }

section.gray-row { background-color: #f9f9f9; }

@media (prefers-color-scheme: dark-disabled) { section.gray-row { background-color: #2a2a2a; } }

header { height: 60px; margin-bottom: 60px; font-size: 0.9em; position: fixed; top: 0; left: 0; right: 0; z-index: 99; transition: all 0.2s ease; border-bottom: 1px solid transparent; }

header.floating { backdrop-filter: blur(20px); -webkit-backdrop-filter: blur(20px); border-bottom: 1px solid #e6e6e6; background-color: rgba(255, 255, 255, 0.72); }

@media (prefers-color-scheme: dark-disabled) { header.floating { background-color: rgba(30, 30, 30, 0.72); border-color: #333437; } }

header > div { height: 100%; display: flex; align-items: center; }

header .mobile-nav-toggle { display: none; }

@media (max-width: 750px) { header .mobile-nav-toggle { display: inherit; flex: 0 1 10%; } }

header .icon { width: 32px; height: 32px; vertical-align: bottom; filter: none; }

@media (prefers-color-scheme: dark-disabled) { header .icon { filter: invert(100%); } }

header nav { flex: 0 1 67%; text-align: right; }

header nav a { text-decoration: none; color: #464646; }

@media (prefers-color-scheme: dark-disabled) { header nav a { color: white; } }

@media (min-width: 751px) { header nav a.selected, header nav a:hover { border-bottom: 2px solid #007aff; padding-bottom: 10px; } }

header nav a + a { margin-left: 18px; }

header nav a.mobile-nav-toggle { margin-bottom: 40px; }

@media (max-width: 750px) { header nav { text-align: left; position: absolute; top: 0; left: -205px; height: 100vh; width: 150px; font-size: 1.2em; border-right: 1px solid #999; padding: 25px; background-color: rgba(255, 255, 255, 0.72); backdrop-filter: blur(20px); -webkit-backdrop-filter: blur(20px); z-index: 999; transition: 0.2s ease; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); } }

@media (max-width: 750px) and (prefers-color-scheme: dark-disabled) { header nav { border-right: #333; box-shadow: 0 0 5px black; background-color: rgba(30, 30, 30, 0.72); } }

@media (max-width: 750px) { header nav a { display: block; margin: 0; }
  header nav a + a { margin-top: 20px; margin-left: 0; } }

body.sidebar-enabled nav { left: 0; }

.logo { font-size: 1.9rem; margin: auto 0; flex: 0 1 33%; }

@media (max-width: 750px) { .logo { flex: 0 1 80%; text-align: center; } }

.logo a { color: inherit; font-weight: inherit; }

.logo .app { font-weight: 400; letter-spacing: 1px; }

.logo .fair { font-weight: 200; letter-spacing: 2px; }

footer { color: #272727; background-color: #f0f0f0; padding: 75px 0; font-size: 0.8em; }

@media (prefers-color-scheme: dark-disabled) { footer { color: #dcdddd; background-color: #464646; } }

@media (max-width: 750px) { footer { padding: 25px 0; } }

#copyright { font-size: 90%; }

@media (min-width: 751px) { #copyright { margin-top: 3em; border-top: 1px solid #cccccc; padding-top: 1.5em; } }

@media (min-width: 751px) and (prefers-color-scheme: dark-disabled) { #copyright { border-top-color: #585858; } }

.footer-contents { display: flex; justify-content: space-between; vertical-align: center; }
@media (max-width: 750px) { 
  .footer-contents { flex-direction: column; justify-content: center; text-align: center; } 
}

.footer-contents > nav { display: flex; }
@media (max-width: 750px) { 
  .footer-contents > nav { flex-direction: column; } 
}

.footer-contents > nav > section { display: flex; flex-direction: column; margin: 1em; }
.footer-contents > nav > section h5 { font-size: 1em; margin-top: 0; margin-bottom: 1em; font-weight: bold; }
.footer-contents > nav > section a { margin-bottom: 1em; color: black; }

.footer-contents .logo { font-size: 1.8em; }

@media (prefers-color-scheme: dark-disabled) { 
  .footer-contents > nav > section a { color: white; } 
}

.footer-contents > nav > section a:hover { text-decoration: underline; }

.feature-grid { display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 50px 25px; }

@media (max-width: 750px) { 
  .feature-grid { grid-template-columns: 1fr; } 
}

.feature { position: relative; }
.feature > img { position: absolute; left: 0; top: 0; }
.feature > :not(img) { margin-left: 50px; }
.feature > h3 { padding-top: 5px; }

.coming-soon-tag { font-weight: 300; font-size: 1rem; margin-top: 1rem; color: #818080; border: 1px solid #818080; border-radius: 4px; padding: 5px 10px; display: inline-block; }

@media (prefers-color-scheme: dark-disabled) { .coming-soon-tag { color: #99999a; border-color: #99999a; } }

@media (prefers-color-scheme: dark-disabled) { 
  .swal-modal { background-color: #1e1e1e; color: white; }
  .swal-title, .swal-text { color: white; }
  .swal-icon--success::before, .swal-icon--success::after, .swal-icon--success__hide-corners { background-color: #1e1e1e; } 
}

.swal-button, .swal-button:not([disabled]):hover { background-color: #007aff; }

.swal-button { padding: 14px 24px; border: 0; border-radius: 5px; }

.swal-button:focus { box-shadow: none; }

.swal-footer { text-align: center; }

form.beta-form { text-align: left; max-width: 500px; margin: 0 auto; }



.email-input-container input { background: none; border: none; border-radius: 0; border-bottom: 1px solid gray; padding: 13px 0; }

.email-input-container input[type="submit"], a.button { -webkit-appearance: none; appearance: none; background-color: #007aff; border: none; border-radius: 5px; padding: 14px 24px; color: white; cursor: pointer; }

.email-input-container { display: flex; }
@media (max-width: 750px) { .email-input-container { flex-direction: column; } }
.email-input-container > input { flex: 1; }
@media (max-width: 750px) { .email-input-container > input { text-align: center; } }
.email-input-container > div:last-child { margin-left: 20px; display: flex; }
@media (max-width: 750px) { .email-input-container > div:last-child { max-width: 300px; margin: 10px auto 0 auto; } }



.eval-input-container input { background: none; border: none; border-radius: 0; border-bottom: 1px solid gray; padding: 13px 0; }

.eval-input-container input[type="submit"], a.button { -webkit-appearance: none; appearance: none; background-color: #007aff; border: none; border-radius: 5px; padding: 14px 24px; color: white; cursor: pointer; }

.eval-input-container { 
  displayXXX: flex; 
}

.eval-input-container > input[type="text"] { width: 100%; }
.eval-input-container > input[type="email"] { width: 100%; }
.eval-input-container > input { margin: 1em; }

/* @media (max-width: 750px) { 
  .eval-input-container { flex-direction: column; } 
}
.eval-input-container > input[type="text"] { flex: 1; }
@media (max-width: 750px) { 
  .eval-input-container > input[type="text"] { text-align: center; } 
} */
.eval-input-container > div:last-child { margin-left: 20px; display: flex; }
@media (max-width: 750px) { 
  .eval-input-container > div:last-child { max-width: 300px; margin: 10px auto 0 auto; } 
}



section.screenshot-row { overflow-x: hidden; }

caption { font-weight: bold; }

.screenshot-flex-container { display: flex; align-items: flex-start; position: relative; }

@media (max-width: 750px) { .screenshot-flex-container { flex-direction: column; } }

@media (min-width: 751px) { .screenshot-flex-container > div:first-child { flex: 0 1 30%; min-width: 350px; }
  .screenshot-flex-container > div:last-child { flex: 0 1 70%; } }

.screenshot-flex-container .text-block { text-align: left; }

.text-block { font-variant: text-rendering: optimizeLegibility; }

.hero-row p { text-align: justify; hyphens: auto; -webkit-hyphens: auto; -moz-hyphens: auto; }
.text-justified { text-align: justify; hyphens: auto; -webkit-hyphens: auto; -moz-hyphens: auto; }

.screenshot-flex-container .text-block p { margin-top: 0; margin-bottom: 2rem; }

@media (max-width: 750px) { .screenshot-flex-container .text-block { max-width: inherit; padding-bottom: 25px; } }

.screenshot-flex-container .screenshot-block { overflow: hidden; height: 714px; margin-top: -38px; margin-bottom: -67px; }

@media (max-width: 750px) { .screenshot-flex-container .screenshot-block { margin-left: -55px; margin-right: -25px; max-height: 350px; margin-bottom: -75px; order: 2; } }

.screenshot-flex-container .screenshot-block picture:not(.displayed) { display: none; }

@media (min-width: 751px) { .screenshot-flex-container .screenshot-block img { position: absolute; } }

.feature.card { cursor: pointer; margin-bottom: 15px; border-radius: 5px; padding: 20px; background-color: #f9f9f9; }

.feature.card:last-child { margin-bottom: 0; }

.feature.card > img { left: 20px; top: 20px; }

@media (prefers-color-scheme: dark-disabled) { .feature.card { background-color: #2a2a2a; } }

.feature.card:not(.selected) > div { display: none; }

.feature.card:hover { background-color: #e6e6e6; }

@media (prefers-color-scheme: dark-disabled) { .feature.card:hover { background-color: #333437; } }

.feature.card.selected { background-color: #e1f0ff; }

@media (prefers-color-scheme: dark-disabled) { .feature.card.selected { background-color: #21456d; } }

.feature.card.collapsed:not(:hover) { background: none; }

.feature.card.collapsed > div { display: none; }

ul.checkmark-list { list-style-type: none; text-align: left; display: inline-block; }

ul.checkmark-list li:before { content: "\2713\0020"; font-weight: bold; padding-right: 0.5rem; }

.spinner { visibility: hidden; margin: auto -25px auto 10px; height: 15px; width: 15px; border: 2px solid lightgray; border-top-color: gray; border-radius: 50%; animation: rotation 0.6s infinite linear; }

@keyframes rotation { 0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); } }

.pricing-list { display: flex; justify-content: center; margin: 5em 0; }
@media (max-width: 750px) { .pricing-list { display: grid; grid: 1fr 1fr / 1fr 1fr; grid-gap: 20px; } }
.pricing-list > div { flex: 1; text-align: center; height: 300px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); max-width: 225px; margin-right: 20px; position: relative; transition: transform 0.25s ease; }
@media (max-width: 750px) { .pricing-list > div { margin: 0; max-width: 100%; width: 100%; } }
@media (prefers-color-scheme: dark-disabled) { .pricing-list > div { background-color: #222; } }
.pricing-list > div.with-banner { position: relative; top: -30px; height: 330px; }
.pricing-list > div:last-child { margin-right: 0; margin-bottom: 0; }
.pricing-list > div:hover { transform: scale(1.05); }
.pricing-list h2 { background-color: #efefef; padding: 35px 10px 70px 10px; margin: 0; }

/* @media (prefers-color-scheme: dark-disabled) { .pricing-list h2 { color: white; background-color: #333; } } */

.pricing-list .banner { font-size: 0.8em; width: 100%; line-height: 30px; height: 30px; background-color: black; color: white; text-transform: uppercase; }
.pricing-list .price { display: flex; flex-direction: column; justify-content: center; background-color: black; border: 5px solid white; color: white; border-radius: 100px; width: 100px; height: 100px; margin: 0 auto -50px auto; transform: translateY(-50%); }
@media (prefers-color-scheme: dark-disabled) { .pricing-list .price { border-color: #222; } }
.pricing-list .price-amount { font-size: 1.3em; }
.pricing-list .price-amount.strikethrough { text-decoration: line-through; margin-right: 5px; font-size: 0.8em; }
.pricing-list .price-terms { font-size: 0.7em; }
.pricing-list ul { text-align: left; display: inline-block; margin: 1em auto; padding: 10px; font-size: 0.8em; list-style: none; }
.pricing-list ul li:before { content: '\2713\0020'; }

.released-version { padding: 30px 0; /* Desktop Timeline Styles */ }
.released-version h2 { margin-top: 0; font-size: 1.4em; }
.released-version span.time { color: gray; }
.released-version h3 { margin-top: 1em; }
.released-version ul { margin: 0; }
.released-version li + li { margin-top: 0.25em; }
.released-version li { margin-left: 0.5em; }
.released-version:first-of-type { margin-top: 2em; }

@media (min-width: 751px) { .released-version { border-left: 2px solid lightgray; margin-left: 140px; }
  .released-version:first-of-type { padding-top: 0; }
  .released-version > div { position: relative; padding-left: 20px; }
  .released-version > div::before { border-radius: 50%; content: ""; background-color: white; border: 2px solid lightgray; position: absolute; height: 14px; width: 14px; left: -10px; top: 6px; } }

@media (min-width: 751px) and (prefers-color-scheme: dark-disabled) { .released-version > div::before { background-color: #1e1e1e; } }

@media (min-width: 751px) { .released-version div.release-date { position: absolute; left: -140px; width: 120px; text-align: right; top: 4px; }
  .released-version div.release-date span { display: block; }
  .released-version div.release-date span.date { font-weight: 600; } }

@media (max-width: 750px) { .released-version { border-top: 1px solid gray; } }

.faqs { text-align: left; }
/* .faqs details { border-bottom: 1px solid lightgray; padding: 0.75rem 0; } */
.faqs details:last-child { border-bottom: none; }
.faqs details :focus { outline: none; }
.faqs details summary { cursor: pointer; }
/* .faqs details p { color: #777; } */
@media (prefers-color-scheme: dark-disabled) { .faqs details p { color: #CCC; } }

/* anchortarget is needed for jump links; otherwise they appear behind the top header */
a.anchortarget {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.jobs { max-width: 500px; margin: 0 auto; text-align: left; }
.jobs details { border-bottom: 1px solid lightgray; padding: 0.75rem 0; }
.jobs details:last-child { border-bottom: none; }
.jobs details :focus { outline: none; }
.jobs details summary { cursor: pointer; user-select: none; }
.jobs details p { color: #777; }

@media (prefers-color-scheme: dark-disabled) { .jobs details p { color: #CCC; } }

section.gallery { text-align: center; }

.gallery-grid { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px 20px; }

@media (max-width: 750px) { .gallery-grid { grid-template-columns: 1fr; } }

.gallery img { opacity: 100%; }

.gallery { position: relative; }
.gallery > h3 { padding-top: 5px; }

/*
div .gallery img.hoveron { opacity: 0%; }
div .gallery:hover img.hoveron { opacity: 100%; }

div .gallery img.hoveroff { opacity: 100%; }
div .gallery:hover img.hoveroff { opacity: 0%; }
*/

section.app-preview { text-align: center; }
.app-preview { text-align: center; }





/** Documentation */

.doc-centered {
  /* 1000px - 20px = 960px */
  /* max-width: 1000px; */
  /* margin: 0 auto; */
  /* padding: 0 20px; */
}

.doc-main {
  display: flex;
}

.doc-sidebar {
  position: fixed;
  flex: 1;
  background-color: #f4f4f488;
  padding: 20px;
  order: 1;
  top: 0;
  position: sticky;
  height: 85vh;
  overflow-y: scroll;
}

.doc-content {
  flex: 4;
  padding: 20px;
  order: 2;
}

@media (max-width: 768px) {
    .doc-main {
        flex-direction: column;
    }

    .doc-sidebar {
        flex: 1;
        width: 90%;
        order: 3;
    }
}

.sub-nav {
  background-color: #3f6d9c;
}

.sidebar-nav {
  display: block;
  padding: 0;
  margin: 0;
}

.sidebar-nav-item {
  display: block;
}

.sidebar-nav-item a {
  display: block;
  padding: 0.5em 0;
  color: #666;
}

.sidebar-nav-item a.active {
  font-weight: bold;
}

.sidebar-nav-item a:hover {
  color: #4682b4;
  text-decoration: none;
}

.sub-menu-nav {
  padding: 0;
}

.sub-item {
  padding-left: 1em;
  padding-top: 0.25em;
  border-left: 2px solid #eee;
}

.sub-item a {
  padding: 0;
  font-size: 0.9em;
}

.sub-sub-nav {
  padding-left: 0px;
}


/* Table */

.doc-content table {
  padding: 0;
  border-collapse: collapse;
}

.doc-content table .table-column-type {
  min-width: 70px;
}

.doc-content table tr {
  border-top: 1px solid #cccccc;
  background-color: #ababab11;
  margin: 0;
  padding: 0;
}
.doc-content table tr:nth-child(2n) {
  background-color: #ababab22;
}
.doc-content table tr th {
  font-weight: bold;
  border: 1px solid #ababab44;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.doc-content table tr td {
  border: 1px solid #ababab44;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.doc-content table tr th:first-child,
.doc-content table tr td:first-child {
  margin-top: 0;
}
.doc-content table tr th:last-child,
.doc-content table tr td:last-child {
  margin-bottom: 0;
}

.doc-content table {
  width: 100%;
}
.doc-content .small-table {
  width: auto;
}

.doc-content table p {
  margin: 0.5em 0;
}
.doc-content table p:first-child {
  margin-top: 0;
}
.doc-content table p:last-child {
  margin-bottom: 0;
}

/* Table with property definitions */

.doc-table td:nth-child(2),
.doc-table th:nth-child(2) {
  text-align: center;
}


/* Code for Playground */
pre code,
tt {
  margin: 0 2px;
  padding: 0 4px;
  background: #ababab11;
  border: 1px solid #ababab44;
  font-family: monospace;
  DISABLEDfont-size: 0.8em;
}
pre code {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  border: none;
  background: transparent;
  font-family: monospace;
}
pre {
  background: #ababab11;
  border: 1px solid #ababab55;
  padding: 8px 10px;
}
.hljs {
  padding: 0;
  background-color: transparent;
}



/* Tutorials */
.tutorial img {
  max-width: 600px;
}


/* "Tango" code highlighting theme from https://jwarby.github.io/jekyll-pygments-themes/languages/ruby.html */
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #8f5902; font-style: italic } /* Comment */
.highlight .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.highlight .g { color: #000000 } /* Generic */
.highlight .k { color: #204a87; font-weight: bold } /* Keyword */
.highlight .l { color: #000000 } /* Literal */
.highlight .n { color: #000000 } /* Name */
.highlight .o { color: #ce5c00; font-weight: bold } /* Operator */
.highlight .x { color: #000000 } /* Other */
.highlight .p { color: #000000; font-weight: bold } /* Punctuation */
.highlight .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.highlight .cs { color: #8f5902; font-style: italic } /* Comment.Special */
.highlight .gd { color: #a40000 } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #ef2929 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #000000; font-style: italic } /* Generic.Output */
.highlight .gp { color: #8f5902 } /* Generic.Prompt */
.highlight .gs { color: #000000; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.highlight .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #000000 } /* Literal.Date */
.highlight .m { color: #0000cf; font-weight: bold } /* Literal.Number */
.highlight .s { color: #4e9a06 } /* Literal.String */
.highlight .na { color: #c4a000 } /* Name.Attribute */
.highlight .nb { color: #204a87 } /* Name.Builtin */
.highlight .nc { color: #000000 } /* Name.Class */
.highlight .no { color: #000000 } /* Name.Constant */
.highlight .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #ce5c00 } /* Name.Entity */
.highlight .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #000000 } /* Name.Function */
.highlight .nl { color: #f57900 } /* Name.Label */
.highlight .nn { color: #000000 } /* Name.Namespace */
.highlight .nx { color: #000000 } /* Name.Other */
.highlight .py { color: #000000 } /* Name.Property */
.highlight .nt { color: #204a87; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #000000 } /* Name.Variable */
.highlight .ow { color: #204a87; font-weight: bold } /* Operator.Word */
.highlight .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
.highlight .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.highlight .sb { color: #4e9a06 } /* Literal.String.Backtick */
.highlight .sc { color: #4e9a06 } /* Literal.String.Char */
.highlight .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4e9a06 } /* Literal.String.Double */
.highlight .se { color: #4e9a06 } /* Literal.String.Escape */
.highlight .sh { color: #4e9a06 } /* Literal.String.Heredoc */
.highlight .si { color: #4e9a06 } /* Literal.String.Interpol */
.highlight .sx { color: #4e9a06 } /* Literal.String.Other */
.highlight .sr { color: #4e9a06 } /* Literal.String.Regex */
.highlight .s1 { color: #4e9a06 } /* Literal.String.Single */
.highlight .ss { color: #4e9a06 } /* Literal.String.Symbol */
.highlight .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #000000 } /* Name.Variable.Class */
.highlight .vg { color: #000000 } /* Name.Variable.Global */
.highlight .vi { color: #000000 } /* Name.Variable.Instance */
.highlight .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */


