<!DOCTYPE html>
<html lang="{{ url_lang }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <main>
      <section class="page-content">
        {{ content }}
      </section>
      
      <div style="width: 40em;" class="site-width centered">
          <h2>Join our Mailing List</h2>
          <p><small>Sign up to be notified about news, releases, and updates for the App Fair Project.</small></p>
          <form action="https://formspree.io/f/myyrnwje" method="post" class="email-signup-form">
            <!-- <div class="name-input-container">
              <input type="text" name="NAME" placeholder="Your name" required>
            </div> -->
            <div class="email-input-container">
              <input type="email" name="email" placeholder="Your email" required="" />
              <div>
                <input class="button" type="submit" value="Sign Up" name="action" />
                <div class="spinner"></div>
              </div>
            </div>
          </form>
          <!-- <br />
          <small>Follow our RSS feed at <a href="https://skip.tools/feed.xml">skip.tools/feed.xml</a> to get Skip updates.</small>
          <br /> -->
          <br />
      </div>

    </main>
    {%- include footer.html -%}
  </body>
</html>
